.option-bar {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
}

.option {
    display: flex;
    color: white;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    box-sizing: content-box;
    border: solid 2px #fff;
    justify-content: space-around;
}
